.addStepAll {
  background-color: #fff;
  padding: 10px;
}

.addStep {
  input {
    outline: none;
    border: none;
    width: 100%;
    &::placeholder {
      color: #ccc;
    }
  }
}

.children {
  padding-bottom: 10px;
  .childrenStep {
    display: inline-block;
    width: 90%;
    border-bottom: 1px solid #ececec;
    padding-bottom: 2px;
  }
  
  .childrenFinish {
    padding-right: 5px;
  }
}

