* {
  list-style: none;
}
.container {
  .navLeft {
    height: calc(100vh);
    min-width: 200px;
  }
  .main {
    background-color: #60acea;
    padding: 0 25px;
    height: calc(100vh);
    .content {
      height: 76%;
      position: relative;
      overflow: auto;
      margin-bottom: 25px;
    }
  }
  
  .navRight {
    height: calc(100vh);
    // display: none
  }
}