.header {
  background-color: #fff;
  padding: 0 20px;
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 20px 0;
    border: none;
    outline: none;
    &.finished {
      color: #777;
      text-decoration: line-through;
      border: none;
      outline: none;
    }
  }
  
  .add {
    color: #436AF2;
    padding-bottom: 15px;
    .plus {
      line-height: 28px;
      padding-right: 10px;
    }
    .addStep {
      border: none;
      outline: none;
      color: #6d6d6d;
      &::placeholder {
        color: #436AF2;
      }
    }
  }
}

.addMyDay {
  background: #fff;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  &.added {
    color: #436AF2;
  }
  span {
    padding-left: 10px;
  }
}

.remark {
  position: relative;
  padding: 10px;
  textarea {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 12px;
    resize: none;
    &::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
    background-color:#f8f8f8;
    border-radius: 2px;
    }
    &::-webkit-scrollbar {//滚动条的宽度
    width:2px;
    height:2px;
    }
    &::-webkit-scrollbar-thumb {//滚动条的设置
    background-color:#dddddd;
    background-clip:padding-box;
    min-height:28px;
    border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb:hover {
    background-color:#bbb;
    }
  }
  .remarkTime {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 13px;
    color: #ababab;
  }
}


.createTime {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 13px;
  height: 50px;
  line-height: 50px;
  background: #fff;
  text-align: center;
  .time {
    flex: 1;
  }
  .clearTip {
    line-height: 50px;
    width: 50px;
    .tip {
      position: absolute;
      right: 2px;
      bottom: 50px;
      font-size: 10px;
      padding: 5px !important;
      border: none;
      background-color: #fff;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
      display: none;
    }
    &:hover {
      .tip {
        display: block;
      }
      background-color: #eceaea;
      opacity: 0.7;
      color: #ff0000;
    }
  }
  
}

// todoStep
.todoStep {
  display: flex;
  margin-bottom: 10px;
  &:hover {
    .close {
      display: block;
    }
  }
  .finish {
    line-height: 27px;
    padding-right: 10px;
  }
  .todoRight {
    flex: 1;
    border-bottom: 1px solid #f2f2f2;
    .rightStep {
      border: none;
      outline: none;
      width: 90%
    }
  }
  .finished {
    color: #bebebe;
    text-decoration: line-through;
  }
  .close {
    float: right;
    font-size: 12px;
    line-height: 27px;
    display: none;
  }
}
