.itemFooter {
  position: absolute;
  width: 95%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  padding: 0 20px;
  background-color: #44a2ef;
  bottom: 30px;
  input {
    width: 95%;
    line-height: 60px;
    border: none;
    outline: none;
    padding: 0 10px;
    background-color: #44a2ef;
    &::placeholder {
      color: #333;
    }
  }
}